/* Specify static height */
$box-height: 100px;

/* ---------------------- */
/* library */
.sticky-bottom {
  box-sizing: border-box;
  &:before, &:after{
    box-sizing: inherit;
  }
  *,
  :before,
  :after {
    box-sizing: inherit;
  }

  position: relative;
  display: block;
  padding-bottom: $box-height;
  &.is-before {
    // state 1
    .sticky-bottom__box {
    }
  }
  &.is-fixed {
    // state 2
    .sticky-bottom__box {
    }
  }
  &.is-after {
    // state 3
    .sticky-bottom__box {
    }
  }
}
.sticky-bottom__box {
  display: block;
  height: $box-height;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sticky-bottom__boundary {  
  position: relative;
  display: block;
}
